{{#linkType2 type}}
    <code>{{#each types}}{{#if this.isType}}{{#if withline}}<code><a href="{{this.href}}#source" target="{{this.target}}">{{this.raw}}:{{{line}}}</a></code>{{else}}<a href="{{this.href}}" target="{{this.target}}">{{this.raw}}</a>{{/if}}{{else}}{{this.raw}}{{/if}}{{/each}}</code>
{{/linkType2}}
